#overlay {
	position: fixed;
	display: none;
	width: 60%;
	height: 100%;
	top: 0;
	left: 20%;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
	border: 1px solid #c1c1c1;
}
#text {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	color: white;
	/* transform: translate(-50%,-50%); */
	-ms-transform: translate(-50%,-50%);
	background: black;
	width: 100%;
	height: 100%;
}
.recordinguntitle{
	width:100%;
	background:blue;
	color:white;
}
.control-group {
	    float: left;
	        width: auto;
	}
#editmypost{
width:95%;
min-height:400px;
font-size:20px;
margin:0 20px 0 20px;
padding:0 20px 0 20px;
}
.someselect{
margin-bottom:30px;
}
h1 img{
	width:50px;
	height:50px;
}
.urlform {
		text-align: center;
	}
	#submiturlbtn1 {
			background: green;
				color: white;
						height: 50px;
						padding:0 10px 0 10px;
			}
	#submiturlbtn {
			background: red;
				color: white;
						height: 50px;
						padding:0 10px 0 10px;
			}
			#insererurl,#insererurldiv1,#insererband {
					width: 70%;
						height: 50px;
					}
					#google span {
							font-size: 59px;
								font-weight: 600;
							}
							#google {
									text-align: center;
								}
								#google .red {
										color: #e21616;
									}
									#google .yellow {
											color: #cfcc14;
										}
									#google .green {
											color: #077e04;
										}
									#google .blue {
											color: #035cab;
										}
										svg {
											    max-width: 20px;
										    }
